In [ ]:
import numpy as np
import pandas as pd

In [ ]:
from google.colab import drive
drive.mount("/content/gdrive")

Mounted at /content/gdrive

Loading life expectancy data

In [ ]:
lfd_df = pd.read_csv("/content/gdrive/MyDrive/Cleaned Dataset/life_expectancy_dataset_cleaned.csv")

In [ ]:
lfd_df.columns

Index(['Unnamed: 0', 'Country', 'Year', 'Status', 'Life expectancy',
       'Adult Mortality', 'infant deaths', 'Alcohol', 'percentage expenditure',
       'under-five deaths', 'Total expenditure', 'HIV/AIDS',
       'thinness 1-19 years', 'Income composition of resources', 'Schooling'],
      dtype='object')

In [ ]:
lfd_df.drop('Unnamed: 0', axis=1, inplace=True)

In [ ]:
lfd_df.rename(columns={'thinness  1-19 years':'thinness'}, inplace=True)

In [ ]:
lfd_df.columns

Index(['Country', 'Year', 'Status', 'Life expectancy', 'Adult Mortality',
       'infant deaths', 'Alcohol', 'percentage expenditure',
       'under-five deaths', 'Total expenditure', 'HIV/AIDS',
       'thinness 1-19 years', 'Income composition of resources', 'Schooling'],
      dtype='object')

Loading population data

In [ ]:
pop_df=pd.read_csv("/content/gdrive/MyDrive/Cleaned Dataset/population_data.csv")

In [ ]:
pop_df.columns

Index(['Unnamed: 0', 'Country', 'Year', 'Population'], dtype='object')

In [ ]:
pop_df.drop('Unnamed: 0', axis=1, inplace=True)
pop_df.columns

Index(['Country', 'Year', 'Population'], dtype='object')

Loading gdp data

In [ ]:
gdp_df=pd.read_csv("/content/gdrive/MyDrive/Cleaned Dataset/GDP_data.csv")

In [ ]:
gdp_df.columns

Index(['Unnamed: 0', 'Country', 'Year', 'GDP'], dtype='object')

In [ ]:
gdp_df.drop('Unnamed: 0', axis=1, inplace=True)
gdp_df.columns

Index(['Country', 'Year', 'GDP'], dtype='object')

In [ ]:
#method to deal with country with miltiple names

# !pip install fuzzymatcher
# from fuzzymatcher import link_table, fuzzy_left_join

# merge_df = fuzzy_left_join(lfd_df[['Country']], gdp_df[['Country']], ["Country"], ["Country"])
# merge_df = merge_df[["Country_left"]]

# merge_df.drop_duplicates(inplace=True)
# merge_df.sort_values(by=['Country_left'],ignore_index=True, inplace=True)

In [ ]:
# a = merge_df.Country_left.unique().tolist()
# gdp_df[~gdp_df.Country.isin(a)].Country

In [ ]:
new_list=[]
for country in lfd_df.Country.tolist():
    if country not in gdp_df.Country.tolist():
        new_list.append(country)

set1 = set(new_list)

new_list=[]
for country in lfd_df.Country.tolist():
    if country not in pop_df.Country.tolist():
        new_list.append(country)

set2 = set(new_list)
print(set1 == set2)

True

In [ ]:
set1

{'Bahamas',
 'Congo',
 'Cook Islands',
 "Côte d'Ivoire",
 "Democratic People's Republic of Korea",
 'Democratic Republic of the Congo',
 'Egypt',
 'Gambia',
 'Iran',
 'Kyrgyzstan',
 "Lao People's Democratic Republic",
 'Micronesia',
 'Niue',
 'Republic of Korea',
 'Republic of Moldova',
 'Saint Kitts and Nevis',
 'Saint Lucia',
 'Saint Vincent and the Grenadines',
 'Slovakia',
 'Swaziland',
 'The former Yugoslav republic of Macedonia',
 'Turkey',
 'United Kingdom of Great Britain and Northern Ireland',
 'United Republic of Tanzania',
 'United States of America',
 'Venezuela',
 'Yemen'}

In [ ]:
new_list=[]
for country in pop_df.Country.tolist():
    if country not in lfd_df.Country.tolist():
        new_list.append(country)

set3 = set(new_list)
set3

{'Africa Eastern and Southern',
 'Africa Western and Central',
 'American Samoa',
 'Andorra',
 'Arab World',
 'Aruba',
 'Bahamas, The',
 'Bermuda',
 'British Virgin Islands',
 'Caribbean small states',
 'Cayman Islands',
 'Central Europe and the Baltics',
 'Channel Islands',
 'Congo, Dem. Rep.',
 'Congo, Rep.',
 "Cote d'Ivoire",
 'Curacao',
 'Early-demographic dividend',
 'East Asia & Pacific',
 'East Asia & Pacific (IDA & IBRD countries)',
 'East Asia & Pacific (excluding high income)',
 'Egypt, Arab Rep.',
 'Eswatini',
 'Euro area',
 'Europe & Central Asia',
 'Europe & Central Asia (IDA & IBRD countries)',
 'Europe & Central Asia (excluding high income)',
 'European Union',
 'Faroe Islands',
 'Fragile and conflict affected situations',
 'French Polynesia',
 'Gambia, The',
 'Gibraltar',
 'Greenland',
 'Guam',
 'Heavily indebted poor countries (HIPC)',
 'High income',
 'Hong Kong SAR, China',
 'IBRD only',
 'IDA & IBRD total',
 'IDA blend',
 'IDA only',
 'IDA total',
 'Iran, Islamic Rep.',
 'Isle of Man',
 "Korea, Dem. People's Rep.",
 'Korea, Rep.',
 'Kosovo',
 'Kyrgyz Republic',
 'Lao PDR',
 'Late-demographic dividend',
 'Latin America & Caribbean',
 'Latin America & Caribbean (excluding high income)',
 'Latin America & the Caribbean (IDA & IBRD countries)',
 'Least developed countries: UN classification',
 'Liechtenstein',
 'Low & middle income',
 'Low income',
 'Lower middle income',
 'Macao SAR, China',
 'Micronesia, Fed. Sts.',
 'Middle East & North Africa',
 'Middle East & North Africa (IDA & IBRD countries)',
 'Middle East & North Africa (excluding high income)',
 'Middle income',
 'Moldova',
 'New Caledonia',
 'North America',
 'North Macedonia',
 'Northern Mariana Islands',
 'Not classified',
 'OECD members',
 'Other small states',
 'Pacific island small states',
 'Post-demographic dividend',
 'Pre-demographic dividend',
 'Puerto Rico',
 'Sint Maarten (Dutch part)',
 'Slovak Republic',
 'Small states',
 'South Asia',
 'South Asia (IDA & IBRD)',
 'St. Kitts and Nevis',
 'St. Lucia',
 'St. Martin (French part)',
 'St. Vincent and the Grenadines',
 'Sub-Saharan Africa',
 'Sub-Saharan Africa (IDA & IBRD countries)',
 'Sub-Saharan Africa (excluding high income)',
 'Tanzania',
 'Turkiye',
 'Turks and Caicos Islands',
 'United Kingdom',
 'United States',
 'Upper middle income',
 'Venezuela, RB',
 'Virgin Islands (U.S.)',
 'West Bank and Gaza',
 'World',
 'Yemen, Rep.'}

In [ ]:
# lfd_df[lfd_df.Country=='Cook Islands']
# lfd_df[lfd_df.Country=='Niue']

In [ ]:
dict1={
    'Bahamas, The':'Bahamas',
    'Congo, Rep.':'Congo',

    "Cote d'Ivoire":"Côte d'Ivoire",
    "Korea, Dem. People's Rep.": "Democratic People's Republic of Korea",
    'Congo, Dem. Rep.':'Democratic Republic of the Congo',
    'Egypt, Arab Rep.':'Egypt',
    'Gambia, The':'Gambia',
    'Iran, Islamic Rep.':'Iran',
    'Kyrgyz Republic':'Kyrgyzstan',
    'Lao PDR':"Lao People's Democratic Republic",
    'Micronesia, Fed. Sts.':'Micronesia',

    'Korea, Rep.':'Republic of Korea',
    'Moldova':'Republic of Moldova',
    'St. Kitts and Nevis':'Saint Kitts and Nevis',
    'St. Lucia':'Saint Lucia',
    'St. Vincent and the Grenadines':'Saint Vincent and the Grenadines',
    'Slovak Republic':'Slovakia',
    'Eswatini':'Swaziland',
    'Turkiye':'Turkey',
    'United States':'United States of America',
    'Venezuela, RB':'Venezuela',
    'Yemen, Rep.':'Yemen'
    }
gdp_df["Country"].replace(dict1, inplace=True)
pop_df["Country"].replace(dict1, inplace=True)

dict2={'The former Yugoslav republic of Macedonia':'North Macedonia',
       'United Republic of Tanzania':'Tanzania',
       'United Kingdom of Great Britain and Northern Ireland':'United Kingdom'
       }
lfd_df["Country"].replace(dict2, inplace=True)

In [ ]:
new_list=[]
for country in gdp_df.Country.tolist():
    if country not in lfd_df.Country.tolist():
        new_list.append(country)
setd2 = set(new_list)

new_list=[]
for country in lfd_df.Country.tolist():
    if country not in gdp_df.Country.tolist():
        new_list.append(country)

setd1 = set(new_list)

In [ ]:
setd1, setd2

({'Cook Islands', 'Niue'},
 {'Africa Eastern and Southern',
  'Africa Western and Central',
  'American Samoa',
  'Andorra',
  'Arab World',
  'Aruba',
  'Bermuda',
  'British Virgin Islands',
  'Caribbean small states',
  'Cayman Islands',
  'Central Europe and the Baltics',
  'Channel Islands',
  'Curacao',
  'Early-demographic dividend',
  'East Asia & Pacific',
  'East Asia & Pacific (IDA & IBRD countries)',
  'East Asia & Pacific (excluding high income)',
  'Euro area',
  'Europe & Central Asia',
  'Europe & Central Asia (IDA & IBRD countries)',
  'Europe & Central Asia (excluding high income)',
  'European Union',
  'Faroe Islands',
  'Fragile and conflict affected situations',
  'French Polynesia',
  'Gibraltar',
  'Greenland',
  'Guam',
  'Heavily indebted poor countries (HIPC)',
  'High income',
  'Hong Kong SAR, China',
  'IBRD only',
  'IDA & IBRD total',
  'IDA blend',
  'IDA only',
  'IDA total',
  'Isle of Man',
  'Kosovo',
  'Late-demographic dividend',
  'Latin America & Caribbean',
  'Latin America & Caribbean (excluding high income)',
  'Latin America & the Caribbean (IDA & IBRD countries)',
  'Least developed countries: UN classification',
  'Liechtenstein',
  'Low & middle income',
  'Low income',
  'Lower middle income',
  'Macao SAR, China',
  'Middle East & North Africa',
  'Middle East & North Africa (IDA & IBRD countries)',
  'Middle East & North Africa (excluding high income)',
  'Middle income',
  'New Caledonia',
  'North America',
  'Northern Mariana Islands',
  'Not classified',
  'OECD members',
  'Other small states',
  'Pacific island small states',
  'Post-demographic dividend',
  'Pre-demographic dividend',
  'Puerto Rico',
  'Sint Maarten (Dutch part)',
  'Small states',
  'South Asia',
  'South Asia (IDA & IBRD)',
  'St. Martin (French part)',
  'Sub-Saharan Africa',
  'Sub-Saharan Africa (IDA & IBRD countries)',
  'Sub-Saharan Africa (excluding high income)',
  'Turks and Caicos Islands',
  'Upper middle income',
  'Virgin Islands (U.S.)',
  'West Bank and Gaza',
  'World'})

In [ ]:
print('lfd',lfd_df.Country.nunique(),'\ngdp', gdp_df.Country.nunique(), '\npop', pop_df.Country.nunique())

lfd 193
gdp 266
pop 266

In [ ]:
pop_df = pop_df[pop_df.Country.apply(lambda x:x not in list(setd2))].sort_values(by=['Country'],ignore_index=True)
gdp_df = gdp_df[gdp_df.Country.apply(lambda x:x not in list(setd2))].sort_values(by=['Country'],ignore_index=True)

In [ ]:
# d = pd.concat([merge_df, lfd_df[["Country"]].drop_duplicates().sort_values(by=['Country'],ignore_index=True)], axis=1)
# d[d.Country_left!=d.Country]

Loading suicide data

In [ ]:
suicide_df=pd.read_csv("/content/gdrive/MyDrive/Cleaned Dataset/Suicide_per_100000.csv")

In [ ]:
suicide_df.columns

Index(['Unnamed: 0', 'Country', 'Year', 'Male_suicide_rate',
       'Female_suicide_rate', 'suicide_rate'],
      dtype='object')

In [ ]:
suicide_df.drop('Unnamed: 0', axis=1, inplace=True)
suicide_df.columns

Index(['Country', 'Year', 'Male_suicide_rate', 'Female_suicide_rate',
       'suicide_rate'],
      dtype='object')

Loading homicide data

In [ ]:
homicide_df=pd.read_csv("/content/gdrive/MyDrive/Cleaned Dataset/homicide_data_genderwise.csv")

In [ ]:
homicide_df.drop('Unnamed: 0', axis=1, inplace=True)
homicide_df.columns

Index(['Country', 'Year', 'Male_homicides', 'Female_homicides', 'Homicides'], dtype='object')

In [ ]:
homicide_df.columns

Index(['Country', 'Year', 'Male_homicides', 'Female_homicides', 'Homicides'], dtype='object')

In [ ]:
new_list=[]
for country in lfd_df.Country.tolist():
    if country not in homicide_df.Country.tolist():
        new_list.append(country)

set4 = set(new_list)

new_list=[]
for country in lfd_df.Country.tolist():
    if country not in suicide_df.Country.tolist():
        new_list.append(country)

set5 = set(new_list)
print(set4==set5)

True

In [ ]:
set4

{'Bolivia',
 'Cook Islands',
 "Côte d'Ivoire",
 'Dominica',
 'Iran',
 'Marshall Islands',
 'Micronesia',
 'Monaco',
 'Nauru',
 'Niue',
 'North Macedonia',
 'Palau',
 'Saint Kitts and Nevis',
 'San Marino',
 'Swaziland',
 'Tanzania',
 'Turkey',
 'Tuvalu',
 'United Kingdom',
 'Venezuela',
 'Vietnam'}

In [ ]:
new_list=[]
for country in suicide_df.Country.tolist():
    if country not in lfd_df.Country.tolist():
        new_list.append(country)

set6 = set(new_list)
set6

{'Bolivia (Plurinational State of)',
 'Côte d’Ivoire',
 'Eswatini',
 'Iran (Islamic Republic of)',
 'Micronesia (Federated States of)',
 'The former Yugoslav Republic of Macedonia',
 'Türkiye',
 'United Kingdom of Great Britain and Northern Ireland',
 'United Republic of Tanzania',
 'Venezuela (Bolivarian Republic of)',
 'Viet Nam'}

In [ ]:
dict3={
    'Bolivia (Plurinational State of)':'Bolivia',
    'Côte d’Ivoire':"Côte d'Ivoire",
    'Iran (Islamic Republic of)':'Iran',
    'Micronesia (Federated States of)':'Micronesia',
    'The former Yugoslav Republic of Macedonia': 'North Macedonia',
    'Eswatini':'Swaziland',
    'Türkiye':'Turkey',
    'United Kingdom of Great Britain and Northern Ireland':'United Kingdom',
    'United Republic of Tanzania': 'Tanzania',
    'Venezuela (Bolivarian Republic of)':'Venezuela',
    'Viet Nam':'Vietnam'
    }
homicide_df["Country"].replace(dict3, inplace=True)
suicide_df["Country"].replace(dict3, inplace=True)

In [ ]:
new_list=[]
for country in lfd_df.Country.tolist():
    if country not in homicide_df.Country.tolist():
        new_list.append(country)
setd3 = set(new_list)

new_list=[]
for country in homicide_df.Country.tolist():
    if country not in lfd_df.Country.tolist():
        new_list.append(country)

setd4 = set(new_list)

In [ ]:
setd3, setd4

({'Cook Islands',
  'Dominica',
  'Marshall Islands',
  'Monaco',
  'Nauru',
  'Niue',
  'Palau',
  'Saint Kitts and Nevis',
  'San Marino',
  'Tuvalu'},
 set())

In [ ]:
lfd_df[lfd_df.Country.apply(lambda x:x in list(setd4))]

Empty DataFrame
Columns: [Country, Year, Status, Life expectancy, Adult Mortality, infant deaths, Alcohol, percentage expenditure, under-five deaths, Total expenditure, HIV/AIDS, thinness 1-19 years, Income composition of resources, Schooling]
Index: []

In [ ]:
print('lfd',lfd_df.Country.nunique(),'\nhomicide', homicide_df.Country.nunique(), '\nsuicide', suicide_df.Country.nunique())

lfd 193
homicide 183
suicide 183

Loading bmi data

In [ ]:
bmi_df=pd.read_csv("/content/gdrive/MyDrive/Cleaned Dataset/bmi_genderwise.csv")

In [ ]:
bmi_df.columns

Index(['Unnamed: 0', 'Country', 'Year', 'Male_bmi', 'Female_bmi', 'bmi'], dtype='object')

In [ ]:
bmi_df.drop('Unnamed: 0', axis=1, inplace=True)
bmi_df.columns

Index(['Country', 'Year', 'Male_bmi', 'Female_bmi', 'bmi'], dtype='object')

In [ ]:
new_list=[]
for country in lfd_df.Country.tolist():
    if country not in bmi_df.Country.tolist():
        new_list.append(country)

set7 = set(new_list)
set7

{'Bolivia',
 "Côte d'Ivoire",
 'Iran',
 'Micronesia',
 'North Macedonia',
 'Swaziland',
 'Tanzania',
 'Turkey',
 'United Kingdom',
 'Venezuela',
 'Vietnam'}

In [ ]:
new_list=[]
for country in bmi_df.Country.tolist():
    if country not in lfd_df.Country.tolist():
        new_list.append(country)

set8 = set(new_list)
set8

{'Andorra',
 'Bolivia (Plurinational State of)',
 'Côte d’Ivoire',
 'Eswatini',
 'Iran (Islamic Republic of)',
 'Micronesia (Federated States of)',
 'Sudan (until 2011)',
 'The former Yugoslav Republic of Macedonia',
 'Türkiye',
 'United Kingdom of Great Britain and Northern Ireland',
 'United Republic of Tanzania',
 'Venezuela (Bolivarian Republic of)',
 'Viet Nam'}

In [ ]:
dict4={
    'Bolivia (Plurinational State of)':'Bolivia',
    'Côte d’Ivoire':"Côte d'Ivoire",
    'Iran (Islamic Republic of)':'Iran',
    'Micronesia (Federated States of)':'Micronesia',
    'The former Yugoslav Republic of Macedonia': 'North Macedonia',
    'Eswatini':'Swaziland',
    'Türkiye':'Turkey',
    'United Kingdom of Great Britain and Northern Ireland':'United Kingdom',
    'United Republic of Tanzania': 'Tanzania',
    'Venezuela (Bolivarian Republic of)':'Venezuela',
    'Viet Nam':'Vietnam'
    }
bmi_df["Country"].replace(dict4, inplace=True)

In [ ]:
new_list=[]
for country in lfd_df.Country.tolist():
    if country not in bmi_df.Country.tolist():
        new_list.append(country)

setd5 = set(new_list)

new_list=[]
for country in bmi_df.Country.tolist():
    if country not in lfd_df.Country.tolist():
        new_list.append(country)

setd6 = set(new_list)

In [ ]:
setd5, setd6

(set(), {'Andorra', 'Sudan (until 2011)'})

In [ ]:
print('lfd',lfd_df.Country.nunique(),'\nbmi', bmi_df.Country.nunique())

lfd 193
bmi 195

In [ ]:
bmi_df = bmi_df[bmi_df.Country.apply(lambda x:x not in list(setd6))].sort_values(by=['Country'],ignore_index=True)

Loading sanitation data

In [ ]:
sani_df=pd.read_csv("/content/gdrive/MyDrive/Cleaned Dataset/sanitation_data.csv")

In [ ]:
sani_df.columns

Index(['Unnamed: 0', 'Country', 'Year', 'Sanitation'], dtype='object')

In [ ]:
sani_df.drop('Unnamed: 0', axis=1, inplace=True)
sani_df.columns

Index(['Country', 'Year', 'Sanitation'], dtype='object')

In [ ]:
new_list=[]
for country in lfd_df.Country.tolist():
    if country not in sani_df.Country.tolist():
        new_list.append(country)

set9 = set(new_list)
set9

{'Bolivia',
 "Côte d'Ivoire",
 'Iran',
 'Micronesia',
 'North Macedonia',
 'Swaziland',
 'Tanzania',
 'Turkey',
 'United Kingdom',
 'Venezuela',
 'Vietnam'}

In [ ]:
new_list=[]
for country in sani_df.Country.tolist():
    if country not in lfd_df.Country.tolist():
        new_list.append(country)

set10 = set(new_list)
set10

{'Andorra',
 'Anguilla',
 'Bolivia (Plurinational State of)',
 'Côte d’Ivoire',
 'Eswatini',
 'Iran (Islamic Republic of)',
 'Micronesia (Federated States of)',
 'Occupied Palestinian territory',
 'The former Yugoslav Republic of Macedonia',
 'Türkiye',
 'United Kingdom of Great Britain and Northern Ireland',
 'United Republic of Tanzania',
 'Venezuela (Bolivarian Republic of)',
 'Viet Nam'}

In [ ]:
dict5={
    'Bolivia (Plurinational State of)':'Bolivia',
    'Côte d’Ivoire':"Côte d'Ivoire",
    'Iran (Islamic Republic of)':'Iran',
    'Micronesia (Federated States of)':'Micronesia',
    'The former Yugoslav Republic of Macedonia': 'North Macedonia',
    'Eswatini':'Swaziland',
    'Türkiye':'Turkey',
    'United Kingdom of Great Britain and Northern Ireland':'United Kingdom',
    'United Republic of Tanzania': 'Tanzania',
    'Venezuela (Bolivarian Republic of)':'Venezuela',
    'Viet Nam':'Vietnam'
    }
sani_df["Country"].replace(dict5, inplace=True)

In [ ]:
new_list=[]
for country in lfd_df.Country.tolist():
    if country not in sani_df.Country.tolist():
        new_list.append(country)

setd7 = set(new_list)

new_list=[]
for country in sani_df.Country.tolist():
    if country not in lfd_df.Country.tolist():
        new_list.append(country)

setd8 = set(new_list)

In [ ]:
setd7, setd8

(set(), {'Andorra', 'Anguilla', 'Occupied Palestinian territory'})

In [ ]:
print('lfd',lfd_df.Country.nunique(),'\nsani', sani_df.Country.nunique())

lfd 193
sani 196

In [ ]:
sani_df = sani_df[sani_df.Country.apply(lambda x:x not in list(setd8))].sort_values(by=['Country'],ignore_index=True)

# Merging all data

In [ ]:
print('Shape of dataframe')
print('lfd',lfd_df.shape,'\ngdp', gdp_df.shape, '\npop',pop_df.shape,'\nsani', sani_df.shape,'\nsuiside', suicide_df.shape,'\nhomicide', homicide_df.shape,'\nbmi', bmi_df.shape)

Shape of dataframe
lfd (2938, 14)
gdp (3056, 3)
pop (3056, 3)
sani (3088, 3)
suiside (2928, 5)
homicide (2928, 5)
bmi (3088, 5)

In [ ]:
print('Number of unique countries in each dataframe')
print('lfd',lfd_df.Country.nunique(),'\ngdp', gdp_df.Country.nunique(), '\npop',pop_df.Country.nunique(),'\nsani', sani_df.Country.nunique(),'\nsuiside', suicide_df.Country.nunique(),'\nhomicide', homicide_df.Country.nunique(),'\nbmi', bmi_df.Country.nunique())

Number of unique countries in each dataframe
lfd 193
gdp 191
pop 191
sani 193
suiside 183
homicide 183
bmi 193

In [ ]:
df1=pd.merge(lfd_df,suicide_df, left_on=['Country','Year'], right_on=['Country','Year'], how='outer')

In [ ]:
df1.shape

(2938, 17)

In [ ]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2938 entries, 0 to 2937
Data columns (total 17 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   Country                          2938 non-null   object
 1   Year                             2938 non-null   int64
 2   Status                           2938 non-null   object
 3   Life expectancy                  2928 non-null   float64
 4   Adult Mortality                  2928 non-null   float64
 5   infant deaths                    2938 non-null   int64
 6   Alcohol                          2744 non-null   float64
 7   percentage expenditure           2938 non-null   float64
 8   under-five deaths                2938 non-null   int64
 9   Total expenditure                2712 non-null   float64
 10  HIV/AIDS                         2938 non-null   float64
 11  thinness 1-19 years              2904 non-null   float64
 12  Income composition of resources  2771 non-null   float64
 13  Schooling                        2775 non-null   float64
 14  Male_suicide_rate                2928 non-null   float64
 15  Female_suicide_rate              2928 non-null   float64
 16  suicide_rate                     2928 non-null   float64
dtypes: float64(12), int64(3), object(2)
memory usage: 413.2+ KB

In [ ]:
df2=pd.merge(df1,homicide_df, left_on=['Country','Year'], right_on=['Country','Year'], how='outer')

In [ ]:
df2.shape

(2938, 20)

In [ ]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2938 entries, 0 to 2937
Data columns (total 20 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   Country                          2938 non-null   object
 1   Year                             2938 non-null   int64
 2   Status                           2938 non-null   object
 3   Life expectancy                  2928 non-null   float64
 4   Adult Mortality                  2928 non-null   float64
 5   infant deaths                    2938 non-null   int64
 6   Alcohol                          2744 non-null   float64
 7   percentage expenditure           2938 non-null   float64
 8   under-five deaths                2938 non-null   int64
 9   Total expenditure                2712 non-null   float64
 10  HIV/AIDS                         2938 non-null   float64
 11  thinness 1-19 years              2904 non-null   float64
 12  Income composition of resources  2771 non-null   float64
 13  Schooling                        2775 non-null   float64
 14  Male_suicide_rate                2928 non-null   float64
 15  Female_suicide_rate              2928 non-null   float64
 16  suicide_rate                     2928 non-null   float64
 17  Male_homicides                   2928 non-null   float64
 18  Female_homicides                 2928 non-null   float64
 19  Homicides                        2928 non-null   float64
dtypes: float64(15), int64(3), object(2)
memory usage: 482.0+ KB

In [ ]:
df3=pd.merge(df2,bmi_df, left_on=['Country','Year'], right_on=['Country','Year'], how='outer')

In [ ]:
df3.shape

(3088, 23)

In [ ]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3088 entries, 0 to 3087
Data columns (total 23 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   Country                          3088 non-null   object
 1   Year                             3088 non-null   int64
 2   Status                           2938 non-null   object
 3   Life expectancy                  2928 non-null   float64
 4   Adult Mortality                  2928 non-null   float64
 5   infant deaths                    2938 non-null   float64
 6   Alcohol                          2744 non-null   float64
 7   percentage expenditure           2938 non-null   float64
 8   under-five deaths                2938 non-null   float64
 9   Total expenditure                2712 non-null   float64
 10  HIV/AIDS                         2938 non-null   float64
 11  thinness 1-19 years              2904 non-null   float64
 12  Income composition of resources  2771 non-null   float64
 13  Schooling                        2775 non-null   float64
 14  Male_suicide_rate                2928 non-null   float64
 15  Female_suicide_rate              2928 non-null   float64
 16  suicide_rate                     2928 non-null   float64
 17  Male_homicides                   2928 non-null   float64
 18  Female_homicides                 2928 non-null   float64
 19  Homicides                        2928 non-null   float64
 20  Male_bmi                         3034 non-null   float64
 21  Female_bmi                       3034 non-null   float64
 22  bmi                              3024 non-null   float64
dtypes: float64(20), int64(1), object(2)
memory usage: 579.0+ KB

In [ ]:
df4=pd.merge(df3,sani_df, left_on=['Country','Year'], right_on=['Country','Year'], how='outer')

In [ ]:
df4.shape

(3088, 24)

In [ ]:
df4.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3088 entries, 0 to 3087
Data columns (total 24 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   Country                          3088 non-null   object
 1   Year                             3088 non-null   int64
 2   Status                           2938 non-null   object
 3   Life expectancy                  2928 non-null   float64
 4   Adult Mortality                  2928 non-null   float64
 5   infant deaths                    2938 non-null   float64
 6   Alcohol                          2744 non-null   float64
 7   percentage expenditure           2938 non-null   float64
 8   under-five deaths                2938 non-null   float64
 9   Total expenditure                2712 non-null   float64
 10  HIV/AIDS                         2938 non-null   float64
 11  thinness 1-19 years              2904 non-null   float64
 12  Income composition of resources  2771 non-null   float64
 13  Schooling                        2775 non-null   float64
 14  Male_suicide_rate                2928 non-null   float64
 15  Female_suicide_rate              2928 non-null   float64
 16  suicide_rate                     2928 non-null   float64
 17  Male_homicides                   2928 non-null   float64
 18  Female_homicides                 2928 non-null   float64
 19  Homicides                        2928 non-null   float64
 20  Male_bmi                         3034 non-null   float64
 21  Female_bmi                       3034 non-null   float64
 22  bmi                              3024 non-null   float64
 23  Sanitation                       3050 non-null   float64
dtypes: float64(21), int64(1), object(2)
memory usage: 603.1+ KB

In [ ]:
df5=pd.merge(df4,gdp_df, left_on=['Country','Year'], right_on=['Country','Year'], how='outer')

In [ ]:
df5.shape

(3088, 25)

In [ ]:
df5.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3088 entries, 0 to 3087
Data columns (total 25 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   Country                          3088 non-null   object
 1   Year                             3088 non-null   int64
 2   Status                           2938 non-null   object
 3   Life expectancy                  2928 non-null   float64
 4   Adult Mortality                  2928 non-null   float64
 5   infant deaths                    2938 non-null   float64
 6   Alcohol                          2744 non-null   float64
 7   percentage expenditure           2938 non-null   float64
 8   under-five deaths                2938 non-null   float64
 9   Total expenditure                2712 non-null   float64
 10  HIV/AIDS                         2938 non-null   float64
 11  thinness 1-19 years              2904 non-null   float64
 12  Income composition of resources  2771 non-null   float64
 13  Schooling                        2775 non-null   float64
 14  Male_suicide_rate                2928 non-null   float64
 15  Female_suicide_rate              2928 non-null   float64
 16  suicide_rate                     2928 non-null   float64
 17  Male_homicides                   2928 non-null   float64
 18  Female_homicides                 2928 non-null   float64
 19  Homicides                        2928 non-null   float64
 20  Male_bmi                         3034 non-null   float64
 21  Female_bmi                       3034 non-null   float64
 22  bmi                              3024 non-null   float64
 23  Sanitation                       3050 non-null   float64
 24  GDP                              3001 non-null   float64
dtypes: float64(22), int64(1), object(2)
memory usage: 627.2+ KB

In [ ]:
df6=pd.merge(df5,pop_df, left_on=['Country','Year'], right_on=['Country','Year'], how='outer')

In [ ]:
df6.shape

(3088, 26)

In [ ]:
df6.Country.nunique()

193

In [ ]:
df6.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3088 entries, 0 to 3087
Data columns (total 26 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   Country                          3088 non-null   object
 1   Year                             3088 non-null   int64
 2   Status                           2938 non-null   object
 3   Life expectancy                  2928 non-null   float64
 4   Adult Mortality                  2928 non-null   float64
 5   infant deaths                    2938 non-null   float64
 6   Alcohol                          2744 non-null   float64
 7   percentage expenditure           2938 non-null   float64
 8   under-five deaths                2938 non-null   float64
 9   Total expenditure                2712 non-null   float64
 10  HIV/AIDS                         2938 non-null   float64
 11  thinness 1-19 years              2904 non-null   float64
 12  Income composition of resources  2771 non-null   float64
 13  Schooling                        2775 non-null   float64
 14  Male_suicide_rate                2928 non-null   float64
 15  Female_suicide_rate              2928 non-null   float64
 16  suicide_rate                     2928 non-null   float64
 17  Male_homicides                   2928 non-null   float64
 18  Female_homicides                 2928 non-null   float64
 19  Homicides                        2928 non-null   float64
 20  Male_bmi                         3034 non-null   float64
 21  Female_bmi                       3034 non-null   float64
 22  bmi                              3024 non-null   float64
 23  Sanitation                       3050 non-null   float64
 24  GDP                              3001 non-null   float64
 25  Population                       3056 non-null   float64
dtypes: float64(23), int64(1), object(2)
memory usage: 651.4+ KB

In [ ]:
df6.isna().sum()

Country                              0
Year                                 0
Status                             150
Life expectancy                    160
Adult Mortality                    160
infant deaths                      150
Alcohol                            344
percentage expenditure             150
under-five deaths                  150
Total expenditure                  376
HIV/AIDS                           150
thinness 1-19 years                184
Income composition of resources    317
Schooling                          313
Male_suicide_rate                  160
Female_suicide_rate                160
suicide_rate                       160
Male_homicides                     160
Female_homicides                   160
Homicides                          160
Male_bmi                            54
Female_bmi                          54
bmi                                 64
Sanitation                          38
GDP                                 87
Population                          32
dtype: int64

In [ ]:
df7 = df6.dropna(subset=['Life expectancy','Adult Mortality', 'percentage expenditure'], how='all')

In [ ]:
df7.shape

(2938, 26)

In [ ]:
df7.sort_values(by=['Country','Year'], ignore_index=True,inplace=True)

<ipython-input-85-b8c69d32a489>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df7.sort_values(by=['Country','Year'], ignore_index=True,inplace=True)

In [ ]:
df7.to_csv("Merged_data.csv")