In [ ]:
from google.colab import drive
drive.mount("/content/gdrive")

Mounted at /content/gdrive

In [ ]:
import pandas as pd

In [ ]:
homicide_df = pd.read_csv('/content/gdrive/MyDrive/Raw Dataset/homicides per 100000.csv')
homicide_df

,IndicatorCode,Indicator,ValueType,ParentLocationCode,ParentLocation,Location type,SpatialDimValueCode,Location,Period type,Period,...,FactValueUoM,FactValueNumericLowPrefix,FactValueNumericLow,FactValueNumericHighPrefix,FactValueNumericHigh,Value,FactValueTranslationID,FactComments,Language,DateModified
0,VIOLENCE_HOMICIDERATE,Estimates of rates of homicides per 100 000 po...,numeric,WPR,Western Pacific,Country,JPN,Japan,Year,2019,...,NaN,NaN,0.160,NaN,0.20,0.18 [0.16 – 0.2],NaN,NaN,EN,2021-02-09T06:00:00.000Z
1,VIOLENCE_HOMICIDERATE,Estimates of rates of homicides per 100 000 po...,numeric,EMR,Eastern Mediterranean,Country,ARE,United Arab Emirates,Year,2019,...,NaN,NaN,0.088,NaN,0.42,0.21 [0.088 – 0.42],NaN,NaN,EN,2021-02-09T06:00:00.000Z
2,VIOLENCE_HOMICIDERATE,Estimates of rates of homicides per 100 000 po...,numeric,WPR,Western Pacific,Country,JPN,Japan,Year,2019,...,NaN,NaN,0.190,NaN,0.23,0.21 [0.19 – 0.23],NaN,NaN,EN,2021-02-09T06:00:00.000Z
3,VIOLENCE_HOMICIDERATE,Estimates of rates of homicides per 100 000 po...,numeric,WPR,Western Pacific,Country,SGP,Singapore,Year,2019,...,NaN,NaN,0.170,NaN,0.29,0.22 [0.17 – 0.29],NaN,NaN,EN,2021-02-09T06:00:00.000Z
4,VIOLENCE_HOMICIDERATE,Estimates of rates of homicides per 100 000 po...,numeric,WPR,Western Pacific,Country,JPN,Japan,Year,2019,...,NaN,NaN,0.220,NaN,0.26,0.24 [0.22 – 0.26],NaN,NaN,EN,2021-02-09T06:00:00.000Z
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10975,VIOLENCE_HOMICIDERATE,Estimates of rates of homicides per 100 000 po...,numeric,EMR,Eastern Mediterranean,Country,AFG,Afghanistan,Year,2000,...,NaN,NaN,5.190,NaN,16.41,9.78 [5.19 – 16.41],NaN,NaN,EN,2021-02-09T06:00:00.000Z
10976,VIOLENCE_HOMICIDERATE,Estimates of rates of homicides per 100 000 po...,numeric,AMR,Americas,Country,BRB,Barbados,Year,2000,...,NaN,NaN,7.480,NaN,12.55,9.81 [7.48 – 12.55],NaN,NaN,EN,2021-02-09T06:00:00.000Z
10977,VIOLENCE_HOMICIDERATE,Estimates of rates of homicides per 100 000 po...,numeric,AFR,Africa,Country,MDG,Madagascar,Year,2000,...,NaN,NaN,5.780,NaN,15.30,9.84 [5.78 – 15.3],NaN,NaN,EN,2021-02-09T06:00:00.000Z
10978,VIOLENCE_HOMICIDERATE,Estimates of rates of homicides per 100 000 po...,numeric,AMR,Americas,Country,SLV,El Salvador,Year,2000,...,NaN,NaN,81.170,NaN,100.60,90.53 [81.17 – 100.6],NaN,NaN,EN,2021-02-09T06:00:00.000Z
10979,VIOLENCE_HOMICIDERATE,Estimates of rates of homicides per 100 000 po...,numeric,AMR,Americas,Country,COL,Colombia,Year,2000,...,NaN,NaN,88.350,NaN,96.47,92.33 [88.35 – 96.47],NaN,NaN,EN,2021-02-09T06:00:00.000Z

In [ ]:
homicide_df.columns

Index(['IndicatorCode', 'Indicator', 'ValueType', 'ParentLocationCode',
       'ParentLocation', 'Location type', 'SpatialDimValueCode', 'Location',
       'Period type', 'Period', 'IsLatestYear', 'Dim1 type', 'Dim1',
       'Dim1ValueCode', 'Dim2 type', 'Dim2', 'Dim2ValueCode', 'Dim3 type',
       'Dim3', 'Dim3ValueCode', 'DataSourceDimValueCode', 'DataSource',
       'FactValueNumericPrefix', 'FactValueNumeric', 'FactValueUoM',
       'FactValueNumericLowPrefix', 'FactValueNumericLow',
       'FactValueNumericHighPrefix', 'FactValueNumericHigh', 'Value',
       'FactValueTranslationID', 'FactComments', 'Language', 'DateModified'],
      dtype='object')

In [ ]:
required_columns = ['Location', 'Period', 'Dim1', 'FactValueNumeric']
homicide_df2 = homicide_df[required_columns]
homicide_df2.columns= ['Country', 'Year', 'Gender', 'Homicides']

homicide_df2 = homicide_df2.sort_values(by=['Country', 'Year'],ignore_index=True)
homicide_df2

           Country  Year      Gender  Homicides
0      Afghanistan  2000        Male      16.71
1      Afghanistan  2000      Female       2.43
2      Afghanistan  2000  Both sexes       9.78
3      Afghanistan  2001        Male      16.44
4      Afghanistan  2001      Female       2.43
...            ...   ...         ...        ...
10975     Zimbabwe  2018        Male      21.65
10976     Zimbabwe  2018      Female       5.50
10977     Zimbabwe  2019  Both sexes      13.08
10978     Zimbabwe  2019        Male      21.68
10979     Zimbabwe  2019      Female       5.25

[10980 rows x 4 columns]

In [ ]:
homicide_df2 = homicide_df2[homicide_df2.Year<2016]

In [ ]:
homicide_df3= homicide_df2[['Country', 'Year']]
homicide_df3.drop_duplicates(inplace=True)
homicide_df3 = homicide_df3.sort_values(by=['Country', 'Year'],ignore_index=True)
homicide_df3

<ipython-input-8-209d2b38b5f5>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  homicide_df3.drop_duplicates(inplace=True)

          Country  Year
0     Afghanistan  2000
1     Afghanistan  2001
2     Afghanistan  2002
3     Afghanistan  2003
4     Afghanistan  2004
...           ...   ...
2923     Zimbabwe  2011
2924     Zimbabwe  2012
2925     Zimbabwe  2013
2926     Zimbabwe  2014
2927     Zimbabwe  2015

[2928 rows x 2 columns]

In [ ]:
male_data = homicide_df2.query('Gender == "Male"')
male_data = male_data.sort_values(by=['Country', 'Year'],ignore_index=True)
male_data

female_data = homicide_df2.query('Gender == "Female"')
female_data= female_data.sort_values(by=['Country', 'Year'],ignore_index=True)
female_data

both_data = homicide_df2.query('Gender == "Both sexes"')
both_data= both_data.sort_values(by=['Country', 'Year'],ignore_index=True)

both_data

          Country  Year      Gender  Homicides
0     Afghanistan  2000  Both sexes       9.78
1     Afghanistan  2001  Both sexes       9.64
2     Afghanistan  2002  Both sexes      10.18
3     Afghanistan  2003  Both sexes      10.40
4     Afghanistan  2004  Both sexes       9.74
...           ...   ...         ...        ...
2923     Zimbabwe  2011  Both sexes      14.00
2924     Zimbabwe  2012  Both sexes      13.61
2925     Zimbabwe  2013  Both sexes      13.55
2926     Zimbabwe  2014  Both sexes      13.42
2927     Zimbabwe  2015  Both sexes      13.43

[2928 rows x 4 columns]

In [ ]:
homicide_df3['Male_homicides'] = male_data['Homicides']
homicide_df3['Female_homicides'] = female_data['Homicides']
homicide_df3['Homicides'] = both_data['Homicides']
homicide_df3

          Country  Year  Male_homicides  Female_homicides  Homicides
0     Afghanistan  2000           16.71              2.43       9.78
1     Afghanistan  2001           16.44              2.43       9.64
2     Afghanistan  2002           17.27              2.64      10.18
3     Afghanistan  2003           17.50              2.84      10.40
4     Afghanistan  2004           16.27              2.76       9.74
...           ...   ...             ...               ...        ...
2923     Zimbabwe  2011           22.81              5.99      14.00
2924     Zimbabwe  2012           22.03              5.97      13.61
2925     Zimbabwe  2013           21.84              6.04      13.55
2926     Zimbabwe  2014           21.64              5.97      13.42
2927     Zimbabwe  2015           21.68              5.95      13.43

[2928 rows x 5 columns]

In [ ]:
homicide_df3.to_csv("homicide_data_genderwise.csv")