In [ ]:
from google.colab import drive
drive.mount("/content/gdrive")

Mounted at /content/gdrive

In [ ]:
import pandas as pd

In [ ]:
sanitation_df = pd.read_csv('/content/gdrive/MyDrive/Raw Dataset/basic sanitation.csv')
sanitation_df

,IndicatorCode,Indicator,ValueType,ParentLocationCode,ParentLocation,Location type,SpatialDimValueCode,Location,Period type,Period,...,FactValueUoM,FactValueNumericLowPrefix,FactValueNumericLow,FactValueNumericHighPrefix,FactValueNumericHigh,Value,FactValueTranslationID,FactComments,Language,DateModified
0,WSH_SANITATION_BASIC,Population using at least basic sanitation ser...,text,AMR,Americas,Country,ATG,Antigua and Barbuda,Year,2020,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,EN,2021-06-23T06:00:00.000Z
1,WSH_SANITATION_BASIC,Population using at least basic sanitation ser...,text,AMR,Americas,Country,ATG,Antigua and Barbuda,Year,2020,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,EN,2021-06-23T06:00:00.000Z
2,WSH_SANITATION_BASIC,Population using at least basic sanitation ser...,text,AMR,Americas,Country,ATG,Antigua and Barbuda,Year,2020,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,EN,2021-06-23T06:00:00.000Z
3,WSH_SANITATION_BASIC,Population using at least basic sanitation ser...,text,AMR,Americas,Country,ARG,Argentina,Year,2020,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,EN,2021-06-23T06:00:00.000Z
4,WSH_SANITATION_BASIC,Population using at least basic sanitation ser...,text,AMR,Americas,Country,ARG,Argentina,Year,2020,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,EN,2021-06-23T06:00:00.000Z
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12343,WSH_SANITATION_BASIC,Population using at least basic sanitation ser...,text,EUR,Europe,Country,MLT,Malta,Year,2000,...,NaN,NaN,NaN,NaN,NaN,99.96,NaN,NaN,EN,2021-06-23T06:00:00.000Z
12344,WSH_SANITATION_BASIC,Population using at least basic sanitation ser...,text,EUR,Europe,Country,MLT,Malta,Year,2000,...,NaN,NaN,NaN,NaN,NaN,99.97,NaN,NaN,EN,2021-06-23T06:00:00.000Z
12345,WSH_SANITATION_BASIC,Population using at least basic sanitation ser...,text,WPR,Western Pacific,Country,AUS,Australia,Year,2000,...,NaN,NaN,NaN,NaN,NaN,99.99,NaN,NaN,EN,2021-06-23T06:00:00.000Z
12346,WSH_SANITATION_BASIC,Population using at least basic sanitation ser...,text,AMR,Americas,Country,CAN,Canada,Year,2000,...,NaN,NaN,NaN,NaN,NaN,99.99,NaN,NaN,EN,2021-06-23T06:00:00.000Z
12347,WSH_SANITATION_BASIC,Population using at least basic sanitation ser...,text,EUR,Europe,Country,ESP,Spain,Year,2000,...,NaN,NaN,NaN,NaN,NaN,99.99,NaN,NaN,EN,2021-06-23T06:00:00.000Z

In [ ]:
sanitation_df.columns

Index(['IndicatorCode', 'Indicator', 'ValueType', 'ParentLocationCode',
       'ParentLocation', 'Location type', 'SpatialDimValueCode', 'Location',
       'Period type', 'Period', 'IsLatestYear', 'Dim1 type', 'Dim1',
       'Dim1ValueCode', 'Dim2 type', 'Dim2', 'Dim2ValueCode', 'Dim3 type',
       'Dim3', 'Dim3ValueCode', 'DataSourceDimValueCode', 'DataSource',
       'FactValueNumericPrefix', 'FactValueNumeric', 'FactValueUoM',
       'FactValueNumericLowPrefix', 'FactValueNumericLow',
       'FactValueNumericHighPrefix', 'FactValueNumericHigh', 'Value',
       'FactValueTranslationID', 'FactComments', 'Language', 'DateModified'],
      dtype='object')

In [ ]:
required_columns = ['Location', 'Period', 'Dim1' , 'Value']
sanitation_df2 = sanitation_df[required_columns]

sanitation_df2.columns= ['Country', 'Year', 'Area', 'Sanitation']
sanitation_df2

                   Country  Year   Area  Sanitation
0      Antigua and Barbuda  2020  Rural         NaN
1      Antigua and Barbuda  2020  Total         NaN
2      Antigua and Barbuda  2020  Urban         NaN
3                Argentina  2020  Rural         NaN
4                Argentina  2020  Total         NaN
...                    ...   ...    ...         ...
12343                Malta  2000  Urban       99.96
12344                Malta  2000  Total       99.97
12345            Australia  2000  Total       99.99
12346               Canada  2000  Urban       99.99
12347                Spain  2000  Rural       99.99

[12348 rows x 4 columns]

In [ ]:
sanitation_df2[sanitation_df2.Country=="Canada"]
sanitation_df2 = sanitation_df2[sanitation_df2.Year<2016]

In [ ]:
sanitation_df2 = sanitation_df2[sanitation_df2.Area=="Total"]

In [ ]:
sanitation_df2.drop('Area', axis='columns', inplace=True)

In [ ]:
sanitation_df2.shape

(3136, 3)

In [ ]:
sanitation_df2.sort_values(by=['Country','Year'],ignore_index=True, inplace=True)

In [ ]:
sanitation_df2.head(20)

        Country  Year  Sanitation
0   Afghanistan  2000       21.87
1   Afghanistan  2001       21.88
2   Afghanistan  2002       23.27
3   Afghanistan  2003       24.67
4   Afghanistan  2004       26.07
5   Afghanistan  2005       27.48
6   Afghanistan  2006       28.88
7   Afghanistan  2007       30.37
8   Afghanistan  2008       31.87
9   Afghanistan  2009       33.38
10  Afghanistan  2010       34.90
11  Afghanistan  2011       36.43
12  Afghanistan  2012       37.96
13  Afghanistan  2013       39.51
14  Afghanistan  2014       41.06
15  Afghanistan  2015       42.63
16      Albania  2000       89.49
17      Albania  2001       90.03
18      Albania  2002       90.61
19      Albania  2003       91.17

In [ ]:
sanitation_df3 = sanitation_df2.copy()
sanitation_df3.drop_duplicates(inplace=True)
sanitation_df3 = sanitation_df3.sort_values(by=['Country', 'Year'],ignore_index=True)
sanitation_df3

          Country  Year  Sanitation
0     Afghanistan  2000       21.87
1     Afghanistan  2001       21.88
2     Afghanistan  2002       23.27
3     Afghanistan  2003       24.67
4     Afghanistan  2004       26.07
...           ...   ...         ...
3131     Zimbabwe  2011       40.54
3132     Zimbabwe  2012       39.93
3133     Zimbabwe  2013       39.32
3134     Zimbabwe  2014       38.72
3135     Zimbabwe  2015       38.12

[3136 rows x 3 columns]

In [ ]:
sanitation_df3.to_csv("sanitation_data.csv")