In [ ]:
import pandas as pd
import numpy as np

In [ ]:
from google.colab import drive
drive.mount("/content/gdrive")

Mounted at /content/gdrive

In [ ]:
gdp_df = pd.read_csv('/content/gdrive/MyDrive/Raw Dataset/gdp.csv')
gdp_df.columns

Index(['Country Name', '2000', '2001', '2002', '2003', '2004', '2005', '2006',
       '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015',
       '2016', '2017', '2018', '2019', '2020', '2021'],
      dtype='object')

In [ ]:
gdp_df = gdp_df.melt(id_vars=["Country Name"], 
        var_name="year", 
        value_name="Gdp")

In [ ]:
gdp_df.columns = ['Country', 'Year', 'GDP']
gdp_df

                          Country  Year           GDP
0                           Aruba  2000  1.873184e+09
1     Africa Eastern and Southern  2000  2.839380e+11
2                     Afghanistan  2000           NaN
3      Africa Western and Central  2000  1.404100e+11
4                          Angola  2000  9.129595e+09
...                           ...   ...           ...
5847                       Kosovo  2021  9.412034e+09
5848                  Yemen, Rep.  2021           NaN
5849                 South Africa  2021  4.190150e+11
5850                       Zambia  2021  2.214763e+10
5851                     Zimbabwe  2021  2.837124e+10

[5852 rows x 3 columns]

In [ ]:
gdp_df.Year = pd.to_numeric(gdp_df.Year)

In [ ]:
gdp_df = gdp_df[gdp_df.Year<2016]

In [ ]:
gdp_df = gdp_df.sort_values(by=['Country', 'Year'],ignore_index=True)
gdp_df

          Country  Year           GDP
0     Afghanistan  2000           NaN
1     Afghanistan  2001           NaN
2     Afghanistan  2002  3.854235e+09
3     Afghanistan  2003  4.539501e+09
4     Afghanistan  2004  5.220824e+09
...           ...   ...           ...
4251     Zimbabwe  2011  1.410192e+10
4252     Zimbabwe  2012  1.711485e+10
4253     Zimbabwe  2013  1.909102e+10
4254     Zimbabwe  2014  1.949552e+10
4255     Zimbabwe  2015  1.996312e+10

[4256 rows x 3 columns]

In [ ]:
gdp_df.isna().sum()

Country      0
Year         0
GDP        170
dtype: int64

In [ ]:
gdp_df.to_csv("GDP_data.csv")